
#slideshow {list-style:none; color:#fff;}
#slideshow span {display:none}
#wrapper {width:300px;}
#wrapper * {margin:0; padding:0}
#fullsize {position:relative; width:290px; height:200px; padding:2px; border:1px solid #ccc; background:#000;}

#image {width:1px; text-align:center;}
#image img {position:absolute; z-index:25; width:290px; height:200px;}
.imgnav {position:absolute; width:25%; height:200px; cursor:pointer; z-index:150}
#imgprev {left:0; background:url(../images/left.gif) left center no-repeat}
#imgnext {right:0; background:url(../images/right.gif) right center no-repeat}
#imglink {position:absolute; height:306px; width:100%; z-index:100; opacity:.4; filter:alpha(opacity=40)}
.linkhover {background:url(../images/link.gif) center center no-repeat}
#thumbnails {margin-top:15px}

#slideleft:hover {background-color:#333}
#slideright:hover {background-color:#333}
#slidearea {float:left; position:relative; width:200px; margin-left:5px; height:81px; overflow:hidden}
#slider {position:absolute; left:0; height:81px}
#slider img {cursor:pointer; border:1px solid #666; padding:2px}